//
// Opinionated defaults
//

// System fonts

$sys-font-stack: -apple-system, 'Segoe UI', system-ui, Roboto, 'Helvetica Neue', sans-serif !default;

// Monospaced fonts

$sys-font-stack-mono: 'SFMono-Regular', 'SF Mono', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace !default;

// Selection background color

$sys-selection-background: #b2d7ff !default;

// Selection color (optional)

$sys-selection-color: null !default;

// Normalize font properties on form elements

$sys-normalize-fonts-inputs: false !default;
