@mixin sa-hyperlink($color, $background-color, $size: 2px, $underline-width: 1px, $padding: 3px) {
    $cs-padding: percentage(($size - $underline-width) / $size);
    $cs-underline: percentage($underline-width / $size);
    $underline-color: mix($color, $background-color, 85);

    background: linear-gradient(to bottom, $background-color $cs-padding, $underline-color $cs-underline) bottom repeat-x;
    background-size: 1px $size;
    color: $color;
    padding-bottom: $padding;
    text-decoration: none;

    &:focus {
        background-image: none;
    }
}
