@mixin sa-hyperlink($color, $background-color, $underline-width: 1px, $padding: 3px) {
    $underline-color: mix($color, $background-color, 85);

    background: linear-gradient(to right, $underline-color, $underline-color) bottom no-repeat;
    background-size: auto $underline-width;
    color: $color;
    padding-bottom: $padding;
    text-decoration: none;

    &:focus {
        background-image: none;
    }
}
